apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: dev-go-app
  labels:
    release: monitoring   
spec:
  selector:
    matchLabels:
      app: dev-go-app
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
